@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------------------- Header ------------------------------------------- */

header {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #e3f2fd;
}

header img {
    height: 75px;
    width: 75px;
}


/* ------------------------------- Body - Indicators ------------------------------------------- */

body {
    font-family: Roboto, sans-serif;
}


#country-name {
    color: #1e2225;
}

#country-population {
    color: #1e2225;
}


#total-cases {
    color: #c841a6;
}

#active-cases {
    color: #ef7a06;
}

#deaths {
    color: #cf2626;
}

#recovered {
    color: #1fc14d;
}

.row-cols-1 > .col {
    margin-top: 5px;
     margin-bottom: 5px;
}

/* ------------------------------- Body - Indicators ------------------------------------------- */

.graphics-container {
    display: grid;
    grid-template-rows: 900px 900px;
}

#timeline {
    padding: auto;
    margin: auto;
}

#geochart {
    padding: auto;
    margin: auto;
}


/* ------------------------------- Footer ------------------------------------------- */

footer {
    font-family: 'Roboto', sans-serif;
}

.footer-container {
    height: 75px;
    background-color: #eeeeee;
    color: #1e2225;
    text-align: center;
}

.footer-container i {
    color: #ef7a06;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-container i:hover {
    color: #cf2626;
}

.footer-container h5 {
    padding-top: 10px;
}