@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------------------- Header ------------------------------------------- */

header {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: grid;
    grid-template-rows: 75px;
    grid-template-columns: 25% 55% 20%;
    background-color: #eeeeee;
    align-items: center;
}

.header-item {
    text-align: center;
}

header img {
    height: 75px;
    width: 75px;
}

header h1 {
    display: inline;
    font-size: 25px;
    font-weight: 400;
    color: #3db9d1;
}


/* ------------------------------- Body - Indicators ------------------------------------------- */

body {
    font-family: Roboto, sans-serif;
}

.indicators-container {
    display: grid;
    height: 150px;
    grid-template-rows: auto auto;
    grid-template-columns: 25% auto auto auto;
    grid-gap: 10px;
    align-content: center;
    text-align: center;
    color: #1e2225;
    margin-left: 15px;
    margin-right: 15px;
}

#country-name {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #eeeeee;
}

#country-population {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #eeeeee;
}

#total-cases {
    grid-area: 1 / 2 / 2 / 3;
    grid-row: 1 / 3;
    background-color: #eeeeee;
}

#active-cases {
    grid-area: 1 / 3 / 2 / 4;
    grid-row: 1 / 3;
    background-color: #eeeeee;
}

#deaths {
    grid-area: 1 / 4 / 2 / 5;
    grid-row: 1 / 3;
    background-color: #eeeeee;
}

#recovered {
    grid-area: 1 / 5 / 2 / 6;
    grid-row: 1 / 3;
    background-color: #eeeeee;
}

#cases-number,
#total-cases {
    color: #c841a6;
}

#active-number,
#active-cases {
    color: #ef7a06;
}

#deaths-number,
#deaths {
    color: #cf2626;
}

#recovered-number,
#recovered {
    color: #1fc14d;
}


/* ------------------------------- Body - Indicators ------------------------------------------- */

.graphics-container {
    display: grid;
    grid-template-rows: 900px 900px;
}

#timeline {
    padding: auto;
    margin: auto;
}

#geochart {
    padding: auto;
    margin: auto;
}


/* ------------------------------- Footer ------------------------------------------- */

footer {
    font-family: 'Roboto', sans-serif;
}

.footer-container {
    height: 75px;
    background-color: #eeeeee;
    color: #1e2225;
    text-align: center;
}

.footer-container i {
    color: #ef7a06;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-container i:hover {
    color: #cf2626;
}

.footer-container h5 {
    padding-top: 10px;
}